
    <article>

            <section class="container lista" style="background: rgb(48, 47, 47)">
                <h2 style="color:white">Lista de Jogos loja {{store.storeName}}</h2>
                <dl>
                    <!--Jogo 1 ... -->
                    <dd class="row">
                            <form class="form-list">
                                    <input type="button" name="removeGame" value = "Reservar Jogo" /><br/><br/>
                            </form>
                        <img src="imagens/icon.svg" class="list-picture">
                        <div style= "background: grey; ">
                            <h3> Nome do Jogo: {{game.title}}}}</h3>
                            <b> Preço:</b> {{game.price}}<br/>
                            <b> Loja:</b> {{store.storeName}}<br/>
                            <b> Endereço:</b> {{store.address}}<br/>
                            <b> CEP:</b> {{store.CEP}}<br/>
                        </div>
                    </dd>

                    <!--Jogo 2... -->
                    <dd class="row ">
                            <form class="form-list">
                                    <input type="button" name="removeGame" value = "Reservar Jogo" /><br/><br/>
                            </form>
                            <img src="imagens/icon.svg" class="list-picture">
                        <div style= "background: grey; ">
                            <h3>Nome do Jogo: {{game.title}}}}</h3>
                            <b>Preço:</b> {{game.price}}<br/>
                            <b>Loja:</b> {{store.storeName}}<br/>
                            <b>Endereço:</b> {{store.address}}<br/>
                            <b>CEP:</b> {{store.CEP}}<br/>
                        </div>
                    </dd>

                    <!-- Jogo n...-->

                </dl>
            </section>
            
    </article>