    <article>
      <section class="container">
        <div class="row bloco-cadastro ">

         
            <form style= "background: grey; ">
                <h1>Cadastrastrar Loja</h1>
            
                <label for="storeName">Nome da Loja</label><br>
                <input type="text" name="storeName" placeholder="p. ex., MEGAMIDIA INFORMATICA LTDA"/><br/><br/>

                <label for="CEP">CEP</label><br>
                <input  name="CEP" placeholder="90810080" /><br/><br/>

                <label for="userAddress">Endereço</label><br>
                <input type="text" name="userAddress" placeholder="p. ex., Avenida Ipiranga" /><br/><br/>

                <label for="submitButton"></label><br>
                <input type="submit" name="submitButton" value = "Cadastrar Loja" /><br/><br/>
            </form>

    

        </div>
      </section>
    </article>